a, a:hover 
{
	text-decoration: none !important;
}

ul 
{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

hr 
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: white;
    border: 3px;
    border-top: 3px solid rgba(0,0,0,.1);
}

html
{
	scroll-behavior: smooth;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
